In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
rows = []

for get_pages in range(6):
    url = f"https://www.scrapethissite.com/pages/forms/?page_num={str(get_pages+1)}&per_page=100"
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, "html.parser")
        table = soup.find("table", class_="table")
        if get_pages == 0:
            headers = [th.text.strip() for th in table.find_all("th")]
        for tr in table.find_all("tr")[1:]:
            row = [td.text.strip() for td in tr.find_all("td")]
            rows.append(row)
            
    else:
        print(f"Peticion fallida en pagina {get_pages+1}, codigo de error: {response.status_code}")


df = pd.DataFrame(rows, columns=headers)
display(df)

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,,0.55,299,264,35
1,Buffalo Sabres,1990,31,30,,0.388,292,278,14
2,Calgary Flames,1990,46,26,,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,,0.425,273,298,-25
...,...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8,0.463,235,281,-46
578,Toronto Maple Leafs,2011,35,37,10,0.427,231,264,-33
579,Vancouver Canucks,2011,51,22,9,0.622,249,198,51
580,Washington Capitals,2011,42,32,8,0.512,222,230,-8
581,Winnipeg Jets,2011,37,35,10,0.451,225,246,-21

In [28]:
rows = []
url = "https://es.wikipedia.org/wiki/Anexo:Pa%C3%ADses_y_territorios_dependientes_por_poblaci%C3%B3n"
response = requests.get(url)
if response.status_code == 200:
    soup = BeautifulSoup(response.text, "html.parser")
    table = soup.find("table", class_="wikitable sortable")
    if table:
        headers = [th.text.strip() for th in table.find_all("th")][12:]
        for tr in table.find_all("tr")[1:]:
            row = [td.text.strip() for td in tr.find_all("td")]
            rows.append(row)
df = pd.DataFrame(rows, columns=headers)
df = df.set_index(df["N°"])
df = df.drop(columns="N°")
display(df)

,País (o territorio dependiente),Proyecciónexponencialde lapoblaciónal1/1/2025,Totalmun-dial(%),Cambiomedioanual(%),Cambioabsolutoanualpromedio,Cambiomedioabs.totalanual(%),Añosparaeven-tualdu-pli-ca-ción,"Censo másreciente,últimaestimaciónoficial,proyecciónde la ONUo reloj depoblaciónnacional",Fechade estaúltimacifra depoblación enparticular(d/mm/aaaa),Tipo,Enlace o hipervínculo(usualmente de tipo oficial)de esta última cifra de población
N°,,,,,,,,,,,
1,India,1 411 283 000,"17,56","0,90",12 683 000,"15,54",77,1 413 324 000,1/03/2025,A,web.archive.org
2,China China[12]​,1 408 278 000,"17,52","-0,05",-1 390 000,-,-,1 408 280 000,31/12/2024,E,www.stats.gov.cn
3,Estados Unidos,341 153 000,"4,24","0,61",2 077 000,"2,54",114,341 547 000,30/03/2025,R,www.census.gov
4,Indonesia Indonesia,284 144 000,"3,53","1,17",3 318 000,"4,06",60,282 477 584,30/06/2024,E,dispendukcapil.acehtimurkab.go.id
5,Pakistán Pakistán,253 010 000,"3,15","2,56",6 485 000,"7,94",27,241 499 431,1/03/2023,C,www.pbs.gov.pk
...,...,...,...,...,...,...,...,...,...,...,...
242,Islas Cocos Islas Cocos (Australia),600,"0,00","1,74",0,"0,00",40,593,11/08/2021,C,www.citypopulation.de
243,Islas Ultramarinas Menores de los Estados Unidos,100,"0,00","-4,96",0,"0,00",-,190,1/04/2010,C,www.statoids.com
244,Islas Pitcairn (RU),30,"0,00","-1,11",0,"0,00",-,35,1/07/2023,E,www.immigration.pn
,Mundo,8 038 875 000,"100,00","1,02",81 635 000,"100,00",69,8 199 177 000,30/03/2025,R,www.worldometers.info
None,None,None,None,None,None,None,None,None,None,None,None